main {
  margin: 0 auto;
  max-width: 85%;
  padding: 50px 30px;
}

:root {
  --primary: #022D36;
  --secondary: #4c061d;
  --tertiary: #7AA095;
  --dark: #55251D;
  --darker: #111111;
  --error: #F79F79;
   
}
